@import "./base/_layout";
@import "./base/_vari";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
body {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.9em;
}
span.new-line {
  display: inline; }

span.new-line:before {
  content: "\a ";
  white-space: pre; }
.tin {
    // use on every container
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @include border_guide;
}

.pod {
    width: 100%; // for mobile
    max-width: 1024px; // for desktop
    margin: 0 auto;
    position: relative;
    padding: 0;
    @include border_guide;
}

.mainHeaderTin {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    // padding-left: 1em;
    @at-root .mainHeaderPod {
        &__title {
            padding: 0;
            margin: 0;
            font-size: 1.3em;
            padding-left: 0.5em;
            line-height: 2em;
            text-align:center;
        }
    }
}

.contentPod {
    &__contact{
        text-align:center;
        font-size:1.1em;
        font-weight:500;
    }
    &__txt {
        width: auto;
        margin: 0 0.5em;
    }
    &__jobTitle {
        margin-bottom: 0;
    }
    &__dates {
        padding: 0;
        margin: 0;
        font-style: italic;
    }
    &__points {
        padding-left: 1.5em;
        li {
            padding-bottom: 0.5em;
        }
    }
}
